<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">    
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h1 th:text="#{categoria.datos}">Datos de Categoria</h1>
            <a th:href="@{/categoria/listado}" th:text="#{accion.regresar}">Regresar</a>
            <br/>
            <form th:action="@{/categoria/guardar}"
                  method="post"
                  th:object="${categoria}">
                <input type="hidden" name="idcategoria" th:field="*{idcategoria}"/> /*Evitar crear un nuevo categoria*/
                <label for="descripcion" th:text="#{categoria.descripcion}">Descripción</label>
                <input type="text" name="descripcion" th:field="*{descripcion}"/>
                <br/>
                <label for="activa" th:text="#{categoria.activo}">Activa</label>
                <input type="checkbox" name="activo" th:field="*{activo}"/>
                <br/>
                <button type="submit" name="guardar" th:text="#{accion.guardar}"/>
                <br/>
            </form>
        </div>
    </body>
</html>