<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h1 th:text="#{cliente.datos}">Datos de Cliente</h1>
            <a th:href="@{/cliente/listado}" th:text="#{accion.regresar}">Regresar</a>
            <br/>
            <form th:action="@{/cliente/guardar}"
                  method="post"
                  th:object="${cliente}">
                <input type="hidden" name="idCliente" th:field="*{idCliente}"/> /*Evitar crear un nuevo cliente*/
                <label for="nombre" th:text="#{cliente.nombre}">Nombre:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br/>
                <label for="apellidos" th:text="#{cliente.apellidos}">Apellidos:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br/>
                <label for="correo" th:text="#{cliente.correo}">Correo:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br/>
                <label for="telefono" th:text="#{cliente.telefono}">Teléfono:</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
                <br/>
                <label for="limite" th:text="#{cliente.limite}">Límite de credito:</label>
                <input type="number" name="limite" th:field="*{credit.limite}"/>
                <br/>
                <br/>
                <button type="submit" name="guardar" th:text="#{accion.guardar}"/>
                <br/>
            </form>
        </div>
    </body>
</html>